body {
  background-color: #F6F6F6 !important;
  overflow-x: hidden !important;
  color: black !important;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
  background-color: rgba(251, 210, 186, 0.362) !important;
}

nav {
  background: rgb(255, 102, 0) !important;
}

thead,
tbody {
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.Modal-Title {
  text-transform: uppercase !important;
  font-weight: 700 !important;
  color: #103434 !important;
}

.search-input-container {
  position: relative !important;
}

.SearchBox {
  width: 300px !important;
  padding-left: 5px !important;
  border-radius: 5px !important;
  background: #ffffff !important;
  height: 35px !important;
  border: 1px solid #ccc !important;
  outline: none !important;
  transition: border-color 0.2s ease-in-out !important;
}

.search-icon {
  position: absolute !important;
  right: 15px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  color: #555 !important;
  cursor: pointer !important;
}

.search-icon:hover {
  color: #05004b !important;
}

.SearchBox:hover {
  border-color: #007bff !important;
}

.btn-success {
  background-color: rgb(255, 38, 0) !important;
  border: none !important;
}

.Modal-Title {
  color: orangered !important;
  font-size: 2em !important;
  font-weight: 700 !important;
}

.confirmmodal-Back {
  background-color: rgba(0, 0, 0, .5) !important;
  z-index: 99999 !important;
}


.chart-heading h4{
  color: rgb(174, 174, 174) !important;
  margin-left: 20px !important;
  font-size: 20px !important;
}
